.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered{
    margin: 10px auto;
    align-content: center;
    align-items: center;
    alignment: center;
    text-align: center;
}

.form-div{
    padding-top: 5px;
}