.form-element {
    padding-bottom: 10px;
}

.section{
    border: 1px solid;
    padding: 5px;
    margin: 2px;
}

.right{
    float: right;
    padding-right: 5px;
}

.form-div{
    padding-top: 3px;
}